<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Boards</title>
  <link rel="icon" href="icon/favicon.png">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/tether.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/tether.min.js"></script>
  <script src="js/bootstrap.js"></script>
</head>
<body>
  <!-- Image and text -->
  <nav class="navbar navbar-inverse bg-boards">
    <a class="navbar-brand" href="#">
      <img src="img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Boards
    </a>
  </nav>


  <main class="container">
    <h1>Restrospective board</h1>
    <div class="row">
      <div class="col">
        <section  class="color1">
          <h2>What went well</h2>
          <div class="cards">
            <article>
              Coding for Accessibility Write some Accessiblity docs/guideliness for OT teams
              <footer>
                <a href="#"><i class="fa fa-heart liked"></i> 1</a>
              </footer>
            </article>
            <article>
              Make permanent changes in places where it is easier to make change to the source code.
              <footer>
                  <a href="#"><i class="fa fa-heart "></i> 0</a>
              </footer>
            </article>
            <article>
              Booking flow is a complex functionality and am glad that is complete now.
              <footer>
                  <a href="#"><i class="fa fa-heart"></i> 0</a>
              </footer>
            </article>
          </div>
          <a href="#" class="add">Add more +</a>
        </section>
      </div>
      <div class="col">
        <section class="color3">
          <h2>What can be improved</h2>
          <div class="cards">
            <article>
            Status reports - when we are remote it is extremely important to communicate and communicate often
            <footer>
              <a href="#"><i class="fa fa-heart "></i> 1</a>
            </footer>

            </article>
            <article>
              Write some Accessiblity docs/guideliness for OT teams
              <footer>
                <a href="#"><i class="fa fa-heart liked"></i> 3</a>
              </footer>
            </article>
          </div>
        </section>
      </div>
      <div class="col">
        <section class="color2">
          <h2>Action Items </h2>
          <div class="cards">
            <article>
            Better estimation for our backlog
            <footer>
              <a href="#"><i class="fa fa-heart "></i> 0</a>
            </footer>
            </article>
            <article>
              Make permanent changes in places where it is easier to make change to the source code.
              <footer>
                <a href="#"><i class="fa fa-heart liked"></i> 1</a>
              </footer>
            </article>
          </div>
        </section>
      </div>


    </div>

  </main>
</body>
</html>
